<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizador</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: #f0f0f0;
        }

        h1 {
            color: #333;
        }

        video {
            border: 1px solid #ddd;
            background-color: #000;
        }
    </style>
</head>

<body>
    <h1>Visualizador de Câmeras</h1>
    <div id="videos"></div>
    <script>
        const socket = io({
            transports: ['websocket'],
            upgrade: false
        });
        const videosDiv = document.getElementById('videos');
        const peers = {};

        console.log("Conectando ao servidor...");

        socket.emit('readyToView');

        socket.on('offer', async (offer, id) => {
            console.log("Recebida oferta de:", id);

            const configuration = {
                accountSid: '<%= ACCOUNTSID %>',
                dateCreated: '<%= DATECREATED %>',
                dateUpdated: '<%= DATEUPDATED %>',
                iceServers: [
                    {
                        url: '<%= URL %>',
                        urls: '<%= URLS %>'
                    },
                    {
                        url: '<%= URL3478 %>',
                        username: '<%= USERNAME3478 %>',
                        urls: '<%= URLS3478 %>',
                        credential: '<%= CREDENTIAL3478 %>'
                    },
                    {
                        url: '<%= URL3478TCP %>',
                        username: '<%= USERNAME3478TCP %>',
                        urls: '<%= URLS3478TCP %>',
                        credential: '<%= CREDENTIAL3478TCP %>',
                    },
                    {
                        url: '<%= URL443 %>',
                        username: '<%= USERNAME443 %>',
                        urls: '<%= URLS443 %>',
                        credential: '<%= CREDENTIAL443 %>',
                    },
                ],
                password: 'PASSWORD',
                ttl: 'TTL',
                username: 'USERNAME'
            }

            const peerConnection = new RTCPeerConnection(configuration);

            peerConnection.onicecandidate = event => {
                console.log(event.candidate, "event.candidate");
                if (event.candidate) {
                    console.log("Enviando candidato para:", id);
                    socket.emit('candidate', event.candidate, id);
                } else {
                    console.log('Todos os candidatos ICE foram descobertos');
                }
            };

            peerConnection.oniceconnectionstatechange = () => {
                console.log('ICE connection state:', peerConnection.iceConnectionState);
            };

            peerConnection.onconnectionstatechange = () => {
                console.log('Connection state:', peerConnection.connectionState);
            };

            peerConnection.onsignalingstatechange = () => {
                console.log('Signaling state:', peerConnection.signalingState);
            };

            peerConnection.ontrack = event => {
                console.log("Recebendo stream de:", id);
                let video = document.getElementById(`video-${id}`);
                if (!video) {
                    video = document.createElement('video');
                    video.id = `video-${id}`;
                    video.width = 600;
                    video.height = 400;
                    video.audio = true;
                    video.autoplay = true;
                    video.srcObject = event.streams[0];
                    videosDiv.appendChild(video);
                } else {
                    video.srcObject = event.streams[0];
                }
            };

            await peerConnection.setRemoteDescription(new RTCSessionDescription(offer));
            const answer = await peerConnection.createAnswer();
            await peerConnection.setLocalDescription(answer);
            console.log("Enviando resposta para:", id);
            socket.emit('answer', answer, id);

            peers[id] = peerConnection;
        });

        socket.on('answer', async (answer, id) => {
            console.log("Recebida resposta de:", id);
            const peerConnection = peers[id];
            if (peerConnection) {
                await peerConnection.setRemoteDescription(new RTCSessionDescription(answer));
            }
        });

        socket.on('candidate', async (candidate, id) => {
            console.log("Recebido candidato de:", id);
            const peerConnection = peers[id];
            if (peerConnection) {
                await peerConnection.addIceCandidate(new RTCIceCandidate(candidate))
                    .then(() => console.log('Adicionado candidato remoto com sucesso'))
                    .catch(error => console.error('Erro ao adicionar candidato remoto:', error));
            }
        });

        socket.on('user-disconnected', id => {
            console.log("Usuário desconectado:", id);
            const peerConnection = peers[id];
            if (peerConnection) {
                peerConnection.close();
                delete peers[id];
                const video = document.getElementById(`video-${id}`);
                if (video) {
                    video.remove();
                }
            }
        });

        // Adiciona o controle do volume do vídeo
        document.addEventListener('click', () => {
            const videoElements = document.querySelectorAll('video');
            videoElements.forEach(video => {
                video.controls = true; // Adiciona o controlador do vídeo
            });
        });
    </script>
</body>

</html>